In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('training_data.csv')
df0 = pd.read_csv('empire1.csv')

In [ ]:
df1.shape,df0.shape

((108, 3), (30, 3))

In [ ]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [ ]:
df1.head()

   id  label                                             review
0   1      0  Food was very tasty, awesome ambiance and happ...
1   2      0  The ambience is very good. Inder Kumar provide...
2   3      1               lazy service, just ambiance is good.
3   4      1    It pains my heart that 1 is the minimum rating.
4   5      0  service is very nice. SOFT behavior. overall l...

In [ ]:
messages1 = df1.copy()
messages0 = df0.copy()

In [ ]:
# stemming train dataset
ps = PorterStemmer()
corpus1 = []
for i in range(0, len(messages1)):
    review1 = re.sub('[^a-zA-Z]', ' ', messages1['review'][i])
    review1 = review1.lower()
    review1 = review1.split()
    
    review1 = [ps.stem(word1) for word1 in review1 if not word1 in stopwords.words('english')]
    review1 = ' '.join(review1)
    corpus1.append(review1)

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
# stemming test dataset
corpus0 = []
for i in range(0, len(messages0)):
    review0 = re.sub('[^a-zA-Z]', ' ', messages0['review'][i])
    review0 = review0.lower()
    review0 = review0.split()
    
    review0 = [ps.stem(word0) for word0 in review0 if not word0 in stopwords.words('english')]
    review0 = ' '.join(review0)
    corpus0.append(review0)

In [ ]:
# bag of words
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 130)
X = cv.fit_transform(corpus1).toarray()
test0 = cv.fit_transform(corpus0).toarray()

In [ ]:
test0

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [ ]:
Y = messages1['label'].values

In [ ]:
# train-test split
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(X, Y , test_size = 0.20 ,random_state = 0)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model1 = MultinomialNB().fit(x_train , y_train)
ypred1 = model1.predict(x_test)

In [ ]:
ypred0 = model1.predict(test0)

In [ ]:
print (ypred0)

[1 0 1 1 1 0 1 0 0 1 0 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0]

In [ ]:
output_df = pd.DataFrame({'id' : df1['id'].values })
output_df = pd.DataFrame({'reviews' : df0['review']})
output_df['label'] = ypred0

In [ ]:
output_df.to_csv('Prediction.csv', index = False)

In [ ]:
rf_accuracy1 = round(model1.score(x_train,y_train),2)
rf_accuracy1

0.95

In [ ]:
rf_accuracy2 = round(model1.score(x_test,y_test),2)
rf_accuracy2

0.82